

<ion-content>
  <div id = "header">
    <h1>Certificate Request</h1>
  </div>

  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input type="text" id="nameInput"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Purpose</ion-label>
    <ion-input type="text" id="purposeInput"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Complainant</ion-label>
    <ion-input type="text" id="purposeInput"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Complainee</ion-label>
    <ion-input type="text" id="purposeInput"></ion-input>
  </ion-item>

    <ion-button class="Log1" expand = "block" shape = "round">Send Blotter</ion-button>


  <p>A certificate request will be sent once button is pressed<br> Thank you have a nice day</p>
</ion-content>