<ion-content>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Hammersmith One' rel='stylesheet'>
  <div class="top-section ion-padding">
    <ion-label class="fonttitletop">Barangay Certificate Request</ion-label>
    <h1 class="fonttitletop2">Request your certificates without a hassle through online methods</h1>
    <ion-card>
    <div class="top-menu">
      <ion-label class="label1">Barangay Residency</ion-label>
    <ion-button routerLink="/tabs/barangay-certificates" class="big-square-button custom-button" shape="square">
      <ion-icon name="person"></ion-icon>
    </ion-button>
    <ion-label class="label2">Barangay Certificate</ion-label>
    <ion-button routerLink="/tabs/barangay-certificates" class="big-square-button1 custom-button1" shape="square">
      <ion-icon name="document"></ion-icon>
    </ion-button>
    <ion-label class="label3">Barangay Indigency</ion-label>
    <ion-button routerLink="/tabs/barangay-certificates" class="big-square-button2 custom-button2" shape="square">
      <ion-icon name="home"></ion-icon>
    </ion-button>
    </div>
  </ion-card>
  </div>
</ion-content>
