ion-content {
    --ion-background-color: #f2f2f2; /* Set the background color for the content */
  }
  
  ion-list {
    margin: 20px; /* Add some margin around the list */
  }
  
  ion-item {
    border: 1px solid #ccc; /* Add a border to each item */
    border-radius: 8px; /* Round the corners of each item */
    margin-bottom: 10px; /* Add some spacing between items */
  }
  
  h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  p {
    font-size: 16px;
    color: #666;
    margin-bottom: 2px;
  }
  
  ion-item ion-label {
    padding: 10px; /* Add some padding to the label */
  }
  
  /* Optional: Add some styles to the header */
  ion-toolbar {
    --ion-background-color: #3a7ca5;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
  }