<ion-tabs>
  <ion-fab vertical="bottom" horizontal="center" translucent="true">
    <ion-fab-button routerLink="/tabs/home">
    <div class="home">
    <ion-icon [name]="selectTab == 'home' ? 'home' : 'home-outline'"></ion-icon>
  </div>
  </ion-fab-button>
    </ion-fab>

  <ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/tabs/view-events" tab="view-events">
    <ion-img src="/assets/icon/resident.png"></ion-img>
  </ion-tab-button>

  <ion-tab-button routerLink="/tabs/certificate-request" tab="certificate-request">
    <ion-img src="/assets/icon/certificate.png"></ion-img>
  </ion-tab-button>

  <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg"><path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="red" fill-rule="evenodd"></path></svg>

  <ion-tab-button routerLink="/tabs/blotter" tab="blotter">
    <ion-img src="/assets/icon/blotter.png"></ion-img>
  </ion-tab-button>

  <ion-tab-button routerLink="/tabs/account" tab="account">
    <ion-img src="/assets/icon/setting.png"></ion-img>
  </ion-tab-button>
  
  </ion-tab-bar>
</ion-tabs>