.table-container {
    max-width: 100%;
    overflow-x: auto;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  .user-table th,
  .user-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ccc;
    text-align: left;
  }
  
  .user-table th {
    background-color: #f2f2f2;
  }
  
  /* Customize the button style */
  .accept-button,
  .delete-button {
    margin-right: 8px;
    width: 80px;
  }
  
  /* Optional: Align buttons to the right */
  ion-card-content {
    display: flex;
    justify-content: flex-end;
  }
